# Python
*.pyc
*~
__pycache__
# Env
.env
env/
venv/
# Database
db.sqlite3

# Static folder at project root
/static/



# Windows
Thumbs.db*
ehthumbs*.db
[Db]esctop.ini
$RECYCLE.BIN/

# Visual Studia
.vscode/
.history/
*.code-workspace